@import "tailwindcss";

@theme {
    --animate-overlayShow: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
    --animate-contentShow: contentShow 300ms cubic-bezier(0.16, 1, 0.3, 1);
}

@media screen and (min-width: 1024px) {
  .swiper-wrapper.linear-swiper {
    transition-timing-function: linear !important; 
  }
}

@keyframes overlayShow {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes contentShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

